body {
  font-size: 16px;
}

h1 {
  font-size: 36px !important;
  margin: 0;
}

.front h1 {
  display: none;
}

.pane-page-title h1 {
  margin: 30px auto !important;
  text-align: center;
}

.pane-disqus-disqus-comments h2.pane-title {
  border-top: 2px solid;
  margin: 40px auto;
  padding-top: 40px;
  text-align: center;
}

.pane-dc-twitter h2.pane-title {
  margin: 0 auto 40px auto;
  padding-top: 40px;
  text-align: center;
}

.pane-page-content { 
  margin: 0 20px;
}

.one-column {
  margin: 0 auto;
  max-width: 709px;
}

#footer {
  text-align: center;
}

.pane-page-slogan {
  letter-spacing: 0.2em;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
}

.pane-page-logo {
  padding-top: 20px;
  text-align: center;
}

#site-name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
  max-width: 880px;
  margin: 0 auto;
}

nav ul.primary-menu li a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size:18px;
  margin: 3px;
}

nav ul.primary-menu li a:hover {
  color: #888;
}

nav ul.primary-menu a.active {
  text-decoration: line-through;
}

nav.primary-menu-wrapper,
.pane-dc-sponsor-panel-pane-1 {
  text-align: center;
}

nav.primary-menu-wrapper {
  padding: 40px 0;
}

.pane-dc-sponsor-panel-pane-1 {
  padding:60px 0;
}

.pane-dc-sponsor-panel-pane-1 .pane-title {
  width:540px;
  margin:0 auto;
}

nav.primary-menu-wrapper ul {
  display: inline-block;
}

ul.menu li a.active {
  color: #353D48;
}

.view-three-three-three .teaser-item {
  width: 100%;
  float: left;
}

.view-dc-news.view-three-three-three .teaser-item {
  min-height:400px;
}

.view-three-three-three .teaser-item .dc-image {
  position:relative;
}

.sponsor-image {
  padding: 30px 0;
}

@media only screen and (max-width:320px) {
}
@media only screen and (min-width:321px) and (max-width:480px) {
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .view-three-three-three .teaser-item {
    width: 48%;
    margin: 0 1%;
  }
  #site-name {
    font-size: 58px;
  }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .view-three-three-three .teaser-item {
    width: 30%;
    margin: 0 1.5%;
  }
  #site-name {
    font-size: 58px;
  }
}

@media only screen and (min-width:1024px) {
  .view-three-three-three .teaser-item {
    width: 30%;
    margin: 0 1.5%;
  }

  #site-name {
    font-size: 58px;
  }
}

.pane-dc-twitter h2.pane-title {
  text-align: center;
}

.tweet {
  text-align: center;
  padding-bottom:25px;
}

.tweet .tweet-time a {
  color: #919191;
}

.tweet .tweet-time {
  margin-top: 1em;
}

/* Grayscale effect */

html.js .dc-image img {
  top:0;
  left:0;
}

html.js .dc-image .img-wrapper {
  position:relative;
  margin: 0 auto;
}

html.js .dc-image img {
  opacity: 1;
}

html.js .dc-image img:first-child {
  opacity: 0;
}

html.js .dc-image img {
  filter: gray; /* IE6-9 */
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
}
html.js .dc-image img:hover {
  filter: none;
}

html.js .dc-image:hover img {
  opacity: 1 !important;
  filter: none;
}

.ticket-promo a {
  background: none repeat scroll 0 0 #353D48;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  padding: 13px 43px;
}

.pane-dc-ticketpromo {
  text-align:center;
  padding:20px 0;
}

@font-face {
  font-family: 'WebSymbolsRegular';
    src: url('websymbols-regular-webfont.eot');
    src: url('websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('websymbols-regular-webfont.woff') format('woff'),
         url('websymbols-regular-webfont.ttf') format('truetype'),
         url('websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

#logo img {
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         40s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}
