.pane-page-slogan {
  text-align:center;
  font-size:1.4em;
  text-transform:uppercase;
  padding-top:1em;
}
.pane-page-logo {
  text-align:center;
}
.pane-page-site-name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  font-weight:bold;
  line-height:1em;
  max-width:880px;
  margin:0 auto;
}
nav ul.primary-menu a {
  text-transform:uppercase;
  letter-spacing:0.15em;
}
nav ul.primary-menu a.active {
  text-decoration:line-through;
}
nav.primary-menu-wrapper,
.pane-dc-sponsor-panel-pane-1 {
  text-align:center;
}
nav.primary-menu-wrapper ul {
  display:inline-block;
}
ul.menu li a.active {
  color:#353D48;
}

.view-three-three-three .teaser-item {
  width:100%;
  float:left;

}

@media only screen and (max-width:320px) {
}
@media only screen and (min-width:321px) and (max-width:480px) {
}

@media only screen and (min-width:481px) and (max-width:768px) {
  .view-three-three-three .teaser-item {
    width:48%;
    margin-right:2%;
  }
  .pane-page-site-name {
    font-size:4.3em;
  }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .view-three-three-three .teaser-item {
    width:30%;
    margin-right:3%;
  }
  .pane-page-site-name {
    font-size:4.3em;
  }
}

@media only screen and (min-width:1024px) {
  .view-three-three-three .teaser-item {
    width:30%;
    margin-right:3%;
  }
  .view-three-three-three .views-row-3 {
    margin-right:0;
  }
  .pane-page-site-name {
    font-size:4.3em;
  }
}

.pane-dc-twitter h2.pane-title {
  text-align: center;
}

.tweet {
  text-align:center;
}

.tweet .tweet-time a {
  color:#919191;
}

.tweet .tweet-time {
  margin-top:1em;
}